/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #e4f7f5;
}


/* HEADER */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.siteName a {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  padding: 2rem;
  text-align: center;
}

#tools {
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
  align-content: center;
  margin: 1rem;
}

#tools a {
  text-decoration: none;
  color: black;
  padding: 2rem;
}


/* Navigation */

nav {
  background-color: #264653;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav ul {
  display: Flex;
  list-style-type: none;
  justify-content: space-around;
  color: white;
  font-size: 1.3rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

main {
  display: grid;
}

/* main div {
  max-width: 100%;
} */



/* Page's Title */

#title {
  margin-bottom: 3rem;
}


/* HERO */

.hero-container {
  position: relative;
  max-width: 100%;
}

.hero-image {
  width: 100%;
}


/* DELOREAN INFO BOX */

#delorean-info {
  position: absolute;
  bottom: 10%;
  left: 2%;
  background-color:rgb(249, 249, 249, 0.75);
  padding: 2rem;
  border: 2px solid black;
}

#delorean-info h2 {
  color: black;
}

#delorean-info ul {
  color: black;
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 600;
}

#delorean-info a {
  color: white;
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #264653;
  padding: 1rem;
  margin: 0.25rem;
  margin-top: 1rem;
}

/* DELOREAN REVIEWS CSS */


#delorean-reviews ul {
  line-height: 2;

}


/* DELOREAN UPGRADES CSS */

#delorean-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#delorean-upgrades h2 {
  grid-column: 1/3;
}

#delorean-upgrades section {
  display: grid;
  place-items: center;
  margin: 1rem;
  padding: 2rem;
  
}

#delorean-upgrades section img {
  background-color: #E9C46A;
  width: 100%;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 2px solid black;
}

#delorean-upgrades section a {
  color:blue;
  font-weight: 700;
}

/* Inventory Display by Category Type */

#inv-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}
#inv-display img{
  border: solid black 2px;
  height:150px;
}

#inv-display li {
  margin: 2rem;
}

#inv-display h2 a {
  color: white;
  text-decoration: none;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#inv-display span {
  font-size: 1.3rem;
  font-style: italic;

}

/* Individual Vehicale Page Display */
#product-display-page img{
  border: solid black 1px;
  margin: 1rem;
}

#product-display-page span {
  font-weight: 700;
}

/* Larger screen querey */

@media screen and (min-width: 700px) {
  body {
    width: 100%;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;

  }
  #title {
    grid-column: 1/3;
  }

  .hero-container {
    grid-column: 1/3;
    position: relative;
    width: 100%;
  }

  .hero-image {
    width: 100%;
  }
  #delorean-reviews {
    grid-column: 1/2;

  }


  #delorean-upgrades {
    grid-column: 2/3;
  }

  #product-display-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}